h2 {
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  font-family: $accent-font-family;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $header-color;
  font-family: $accent-font-family;
  font-weight: bold;
  margin: 0;
}

.header {
  color: $header-color;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $accent-font-family;
  &-big {
    @extend .header;
    font-size: $header-size-big;
  }
  &-medium {
    @extend .header;
    font-size: $header-size-medium;
  }
  &-small {
    @extend .header;
    font-size: $header-size-small;
  }
  &-x-small {
    @extend .header;
    font-size: $header-size-x-small;
  }

  &-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
    p {
      display: flex;
      justify-content: center;
      font-size: $paragraph-size-medium;
      margin-bottom: 2rem;
    }
  }

  img {
    @include header-image();
  }
}
