// FONTS
$main-font-family: "Montserrat", sans-serif;
$main-font-weight: 300;
$accent-font-family: "Plus Jakarta Sans", sans-serif;

// SIZING
$header-size-big: 10rem;
$header-size-medium: 8rem;
$header-size-small: 4rem;
$header-size-x-small: 2rem;
$header-font-weight-medium: 500;

$paragraph-size-medium: 1.5rem;

// ROUDNING
$default-border-radius: 24px;
$border-radius-small: 12px;

// COLORS
$primary-color: #38b000;
$accent-color: #9ef01a;
$contrast-color: #006400;
$contrast-color-opacity-low: rgba(0, 100, 0, 0.3);
$header-color: #6c6767;
